<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="container">
  
  </div>  
  <ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header">CSS</a>
          <div class="collapsible-body">
            <ul>
              <li>Color</li>
              <li>Fonts</li>
              <li>Stuff</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</header>
